---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-*,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
        -misc-use-anonymous-namespace,
        -misc-use-internal-linkage
"
# Cannot filter by regex, therefore hardcoded whole argument
RemovedArgs: 
  - '-fdeps-format=p1689r5'
  - '-fmodule-mapper=examples/CMakeFiles/demo_unique_rc.dir/UniquePtr.cpp.o.modmap'
  - '-fmodule-mapper=examples/CMakeFiles/demo_coroutine.dir/UniqueCoroutineHandle.cpp.o.modmap'
  - '-fmodules-ts'


WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'





